@charset "UTF-8";

* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: 2px solid white;
}

<<<<<<< Updated upstream
body {
    background-color: rgb(53, 49, 49);
    color: white;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 90vw;
    top: 0;
    padding: 20px 50px;
    z-index: 3;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: 900;
    color: aqua;
    text-shadow: 0 0 10px rgb(76, 194, 105));
}

header nav ul {
    display: flex;
    gap: 48px;
}

header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}
=======
header nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: aqua;
}
>>>>>>> Stashed changes
