@charset "UTF-8";

* {
    margin: 15px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: 1px solid red;
}

body {
    background-color: rgb(22, 9, 9);
    color: white;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 90vw;
    top: 0;
    padding: 20px 50px;
    z-index: 3;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: 900;
    color: aqua;
    text-shadow: 0 0 10px rgb(76, 194, 105));
}

header nav ul {
    display: flex;
    gap: 48px;
}

header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

header nav ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: aqua;
    transition: 0.3s ease;
}

header nav ul li:hover::after {
    width: 100%;
}

.container {
    height: 100vh;
    position: relative;
    background: linear-gradient(135deg, #0f0f1e 0%, #1f1f3a 100%);
    overflow: hidden;
}


